.header-container{
    width:100%;
    height:10vh;
    /* background-color: rgba(0, 0, 0, 0.514); */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}
.header-routes{
    display: flex;
    width:50%;
    justify-content: space-around;
}
.header-links{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.header-logo{
  padding-top:3%;
}
.header-logo img{
    height:100px;
    width:100px;
}