.homepage-container {
  background-color: #252a34;
}

.homepage-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  font-family: "MedievalSharp", cursive;
  color: #f2f2f2;
  font-size: 25px;
}
.homepage-logo {
  height: 200px;
}
.homepage-sections{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-row {
  font-family: "MedievalSharp", cursive;
  color: #f2f2f2;
  font-size: 35px;
  display: flex;
  width:100%;
  justify-content: center;
  align-items: stretch;
  margin:5%;
}

.section-img img{
    z-index: 10;
    height:400px
}
.section-info{
    background-color:rgba(0, 0, 0, 0.486);
    padding: 1%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.section-info button{
     font-family: "MedievalSharp", cursive;
    width:150px;
    height:50px;
    font-size: 20px;
    margin-top:10%;
    border-radius:5px;
    outline:none;
    border:none;
    background-color:#08D9D6;
    cursor:pointer;
}
.section-btn{
  text-decoration: none;
  color:black;
}